// views/searchForm.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title PS4 App - Search Form
  body
    h1 PS4 App - Search Form
    form(action="/ps4/promise", method="post")
      label(for="search") Search:
      input(type="text", id="search", name="search", required)
      button(type="submit") Search (Promise)
