// views/result.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title PS4 App - Result
  body
    h1 PS4 App - Result
    pre= JSON.stringify(data, null, 2)
